<header class="app-header border-bottom bg-white">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <a class="navbar-brand fw-semibold" href="/" data-router-link>Task Board</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" data-router-link data-nav-link="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" data-router-link data-nav-link="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" data-router-link data-nav-link="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/1/tasks" data-router-link data-nav-link="/projects">Projects</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
